*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e5e5e5;
    font-family:'Courier New', Courier, monospace;
}

.container{
    margin: 15px;
    
}
.container > div{
    background-color: #c4c4c4;
    padding: 10px;
    margin: 10px;
}
.boxHeight{
    height: 180px;
}
.boxWidth{
    width: 45%;
}
#sevenSegmentsBox{
    height: 370px;
    float: right;
    
}
.contentClass{
    /* background-color: red; */
    margin: 40px 10px;
}

table{
    /* background-color: yellow; */
    text-align: center;
}
#switchesBox td{
    padding: 5px 15px;
}

#switchesBox img{
    width: 30px;
    height: 45px;
}
#pushButtonBox td{
    padding: 5px 35px;
}
#ledsBox td{
    padding: 4px 8px;
}
#greenLedsDiv{
    float: left;
    width: 50%;    
}
#current_display {
    font-weight: bolder;
    font-size: xx-large;
    color: green;
}

.boxForm{
    margin: 50px 0px;
}
input[type=text]{
    background-color: #e5e5e5;
    height: 25px;
    width: 300px;
    font-size: 20px;
}
input[type=submit]{
    background-color: #a4a4a4;
    padding: 5px 20px;
    margin-left: 223px;
    margin-top: 10px;
}
input{
    display: block;
    border: none;
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.circleBorder{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 15px solid black;
}
.lightGreen{
    background-color: lightgreen;
}
.darkGreen{
    background-color: darkgreen;
}
.red{
    background-color: red;
}
.darkRed{
    background-color: darkred;
}
.white{
    background-color: white;
}
